<h1>Eat-Da-Burger!</h1>

<h2>Devour It!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    {{burger_name}}
    <button class="change-burger" data-id="{{id}}" data-newburger=true>DEVOUR IT</button>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}}

    <button class="burger" data-id="{{id}}" data-burger disabled=false>DEVOURED</button>

  </li>
  {{/if}}
  {{/each}}
</ul>




<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="burger_name">
  </div>
  <button type="submit">Submit</button><br>
  <label for="ca">Enter a burger you want to eat. Click the "Submit" button</label>


  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

</form>